.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 90px;
    width: 100%;
}
    
.Hero__content{
    float: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Hero__text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

.Hero__title{
   font: sans-serif 1.2rem "Fira Sans", serif;
   font-size: 30px;
    font-weight: bold;
}

.Hero__subtitle{
   font: sans-serif 1.2rem "Fira Sans",serif;
   font-size: 28px;
}

.Hero__name{
    font: sans-serif 1.2rem "Fira Sans", serif;
    font-size: 20px;
}

.Hero__description{
   font: sans-serif 1.2rem "Fira Sans",serif;
   font-size: 18px;
}


.ImgHero{
    flex: 1;
  min-width: 300px;
  max-width: 500px; 
}

.ImgHero img {
  max-width: 350px; /* o el valor que prefieras */
  width: 100%;
  height: auto;
  display: block;
} 

/*Responsivo*/
@media (max-width: 768px) {
  .Hero {
    flex-direction: column; /* ahora texto arriba e imagen abajo */
    text-align: center;
  }

  .Hero img {
    width: 80%; /* más pequeño para celulares */
    margin-top: 20px;
  }
}